<h1 align="center">Nuestro Catalogo de Productos</h1>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="input-group" id="search">
                    <input type="text" ng-model="search.name" class="form-control" placeholder="Buscar Productos" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="filter">Filtrar Por</label>
                <select ng-click="change()" ng-model="userFilter" class="form-control">
                    <option value="all" selected>Todo</option>
                    <option value="available">Disponibles</option>
                    <option value="notAvailable">Agotados</option>
                    <option value="best_seller">Mas Vendidos</option>
                </select>
                </div>
            <div class="form-group col-md-6">
                <label for="filter">Ordenar Por</label>
                <select ng-click="change()" ng-model="userOrder" class="form-control">
                    <option value="none" selected>--Seleccionar--</option>
                    <option value="name">Nombre</option>
                    <option value="upperPrice">Mayor Precio</option>
                    <option value="lowerPrice">Menor Precio</option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="row" ng-repeat="cat in categories ">
    <br />
    <h1><strong>{{cat.name}}</strong> </h1>
    <br />
    <div ng-repeat="item in products | filter: {categories: cat.categori_id} | filter: Filter | orderBy: Order | filter: search">
        <div class="col-lg-4">
            <img class="img-circle" ng-src={{item.img}} alt="{{item.name}}" width="140" height="140">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <p><a class="btn colorBackground" ng-if="item.available" ng-click="addtoCart(item)" role="button">Agregar al Carrito</a>
                <a class="btn btn-default" ng-click="showDetails(item.id)" role="button">Detalles</a>
            </p>
        </div>
    </div>
</div>